In [1]:
import pandas as pd
import numpy as np

#Dọc Data từ bảng C3.csv

In [2]:
my_df = pd.read_csv("C3.csv")

#chia các bạn theo từng khối thi vào cùng bảng khác nhau

In [3]:
dfA00 = my_df[my_df['Exam blocks'] == 'A00']
dfA01 = my_df[my_df['Exam blocks'] == 'A01']
dfB00 = my_df[my_df['Exam blocks'] == 'B00']
dfD01 = my_df[my_df['Exam blocks'] == 'D01']

#Xóa cột GDCD

In [4]:
dfA00.drop(dfA00.columns[[5,6,9,10,11,12]], axis=1, inplace=True )
dfB00.drop(dfB00.columns[[5,6,7,10,11,12]], axis=1, inplace=True )
dfA01.drop(dfA01.columns[[5,8,9,10,11,12]], axis=1, inplace= True)
dfD01.drop(dfD01.columns[[7,8,9,10,11,12]], axis=1, inplace=True)

C:\Users\FPT SHOP\AppData\Local\Temp\ipykernel_8596\2147760085.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfA00.drop(dfA00.columns[[5,6,9,10,11,12]], axis=1, inplace=True )
C:\Users\FPT SHOP\AppData\Local\Temp\ipykernel_8596\2147760085.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfB00.drop(dfB00.columns[[5,6,7,10,11,12]], axis=1, inplace=True )
C:\Users\FPT SHOP\AppData\Local\Temp\ipykernel_8596\2147760085.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfA01.drop(dfA01.columns[[5,8,9,10,11,12]], axis=1, inplace= True)
C:\Users\FPT SHOP\AppData\Local\Temp\ipykernel_8596\2147760085.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfD01.drop(dfD01.columns[[7,8,9,10,11,12]], axis=1, inplace=True)

#tính tổng điểm các khối và sắp xếp tăng dần

In [7]:

dfA00['A00'] = dfA00['Match'] + dfA00['Chemistry'] + dfA00['Physics']
dfA00.sort_values('A00')
dfB00['B00'] = dfB00['Match'] + dfB00['Biology'] + dfB00['Chemistry']
dfB00.sort_values('B00')
dfA01['A01'] = dfA01['Match'] + dfA01['English'] + dfA01['Physics']
dfA01.sort_values('A01')
dfD01['D01'] = dfD01['Match'] + dfD01['Literature'] + dfD01['English']
dfD01.sort_values('D01')

C:\Users\FPT SHOP\AppData\Local\Temp\ipykernel_8596\647847689.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfA00['A00'] = dfA00['Match'] + dfA00['Chemistry'] + dfA00['Physics']
C:\Users\FPT SHOP\AppData\Local\Temp\ipykernel_8596\647847689.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfB00['B00'] = dfB00['Match'] + dfB00['Biology'] + dfB00['Chemistry']
C:\Users\FPT SHOP\AppData\Local\Temp\ipykernel_8596\647847689.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfA01['A01'] = dfA01['Match'] + dfA01['English'] + dfA01['Physics']
C:\Users\FPT SHOP\AppData\Local\Temp\ipykernel_8596\647847689.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfD01['D01'] = dfD01['Match'] + dfD01['Literature'] + dfD01['English']

,NO,Name,Exam blocks,Class,Match,Literature,English,D01
4,66,Pham Viet Dung,D01,12C3,8.6,7.7,8.9,25.2
8,82,Dam Huong Giang,D01,12C3,9.5,8.3,7.8,25.6
11,114,Nguyen Khanh Huyen,D01,12C3,9.5,7.8,8.7,26.0

In [15]:
dfB00['Name'].sl(2)

AttributeError: 'Series' object has no attribute 'slice'

In [9]:
my_df['A00'] = my_df['Match'] + my_df['Chemistry'] + my_df['Physics']
my_df['B00'] = my_df['Match'] + my_df['Biology'] + my_df['Chemistry']
my_df['A01'] = my_df['Match'] + my_df['English'] + my_df['Physics']
my_df['C00'] = my_df['Literature'] + my_df['History'] + my_df['Geographic']
my_df['D00'] = my_df['Literature'] + my_df['Match'] + my_df['English']

#Đếm xem có bao nhiêu bạn họ Nguyễn

In [11]:
def Nguyen_string(title):
    if 'nguyen' in title.lower():
        return True
    else:
        return False
my_df['Name'].apply(lambda x: Nguyen_string(x) == True ).value_counts()

False    30
True     11
Name: Name, dtype: int64

#Xem Dam Huong Giang được bao nhiêu điểm

In [41]:
my_df[my_df['Name']== 'Dam Huong Giang']

,NO,Name,Exam blocks,Class,Match,Literature,English,Physics,Chemistry,Biology,History,Geographic,Civic Education
8,82,Dam Huong Giang,D01,12C3,9.5,8.3,7.8,8.8,8.8,8.2,8.5,9.1,9.5

In [42]:
my_df[my_df['Match']==9]

,NO,Name,Exam blocks,Class,Match,Literature,English,Physics,Chemistry,Biology,History,Geographic,Civic Education
1,30,Nguyen Tran Yen Chi,B00,12C3,9.0,8.0,7.1,8.7,8.9,8.8,8.0,8.5,9.5
12,117,Ta Thi Huyen,B00,12C3,9.0,7.4,7.1,8.6,8.4,7.6,8.2,8.1,9.3
22,222,Dam Duc Manh,A00,12C3,9.0,6.7,7.0,7.9,8.4,7.5,8.4,8.1,8.9
23,227,Dinh Le Duc Nam,A00,12C3,9.0,7.8,6.5,8.5,8.5,7.5,8.1,8.2,9.2
29,263,Pham Duy Phuc,A01,12C3,9.0,7.4,7.0,8.4,8.5,7.9,8.3,8.5,9.2

In [5]:
my_df['Literature'].max()

8.3

In [14]:

new_df = my_df['Match'].value_counts().head(5)